// Required
@import "../../../node_modules/bootstrap/scss/functions";
// Default variable overrides

//색상 설정

$primary : #24A841;
$secondary : #051809;
$secondary-emphasis : #0B5C1D;
$info : #EBF3E8;

$theme-colors:(
  "primary" : $primary,
  "secondary" : $secondary,
  "success":    red,
  "info":       $info,
  "warning":    red,
  "danger":     red,
  "light":      red,
  "dark":       red
);



//전역 설정
*{
  border:0; margin:0; padding:0;
  user-select: none;
  font-family: "Noto sans kr",sans-serif;
}
.container{
  min-width:1024px;
  max-width:1200px;
}
a{
  text-decoration: none;
}
ul,ol,li{
  list-style: none;
  margin-bottom: 0;
}
li>a{
  color: $secondary;
}
li:hover>a{
  color: $secondary-emphasis;
}




//폰트 설정
.head-top-md{
  font-weight: 600;
  font-size:20px;
}

.head-top-menu-md{
  font-size: 18px;
  font-weight: 600;
}

.head-menu-norm{
  font-weight:normal;
  font-size:12px;
}

.body-menu-md{
  font-weight: 600;
  font-size: 16px;
}

.body-title-norm{
  font-weight: normal;
  font-size: 18px;
}

.body-content-norm{
  font-weight: normal;
  font-size: 16px;
}
.body-detail-menu-16b{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.body-detail-content-lg{
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}

// Required
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";