// Required
@import "../../../node_modules/bootstrap/scss/functions";
// Default variable overrides

:root {
  --bs-breakpoint-xs: 1200px;
  --bs-breakpoint-sm: 1200px;
  --bs-breakpoint-md: 1200px;
  --bs-breakpoint-lg: 1200px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

//색상 설정
$primary: #24a841;
$secondary: #505246;
$secondary-emphasis: #0b5c1d;
$info: #ebf3e8;
$dark:#051809;
$light:#f5f5f5;

$theme-colors: (
  "primary": $primary,
  "primary-dark": #28853d,
  "secondary": $secondary,
  "success": #27df17,
  "info": $info,
  "warning": #f2943c,
  "danger": #e81616,
  "light": $light,
  "dark": $dark,
);

//전역 설정
html,
html * {
  padding: 0;
  user-select: none;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}
.container {
  min-width:1440px;
  padding: 0 120px 50px;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
  margin-bottom: 0;
}
li > a {
  color: $secondary;
}
li:hover > a {
  color: $secondary-emphasis;
}

//폰트 설정
.head-top-md {
  font-weight: 600;
  font-size: 20px;
}

.head-top-menu-md {
  font-size: 18px;
  font-weight: 600;
}

.head-menu-norm {
  font-weight: normal;
  font-size: 12px;
}

.body-title-norm {
  font-weight: normal;
  font-size: 18px;
}

.body-title-bd {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.body-title-30norm {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.body-menu-norm {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.body-menu-md {
  font-weight: 600;
  font-size: 16px;
}

.body-content-norm {
  font-weight: normal;
  font-size: 16px;
}
.body-content-md {
  font-weight: 400;
  font-size: 14px;
}
.body-detail-menu-16B {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.body-detail-content-lg {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

//custom
.btn-bd-simple {
  --bs-btn-font-weight: 600;
  --bs-btn-color: $dark;
  --bs-btn-bg: $info;
  --bs-btn-border-color: $info;
  --bs-btn-hover-color: $dark;
  --bs-btn-hover-bg: $primary;
  --bs-btn-hover-border-color: $dark;
  --bs-btn-focus-shadow-rgb: $primary;
  --bs-btn-active-color: $dark;
  --bs-btn-active-bg: $primary;
  --bs-btn-active-border-color: $primary;
}

.btn-outline-primary{
  --bs-btn-hover-color: $light;
}

.custom-form-control-secondary {
  @extend .form-control !optional; // Bootstrap의 기본 .form-control 클래스를 확장
  border-color: rgba($secondary,0.2); // 새로운 테두리 색상 적용
  background-color: var(--bs-body-bg);; // 새로운 배경색 적용

  // 호버 상태일 때의 스타일
  &:hover {
    border-color: rgba($secondary,0.3);
  }

  // 포커스 상태일 때의 스타일
  &:focus {
    border-color: rgba($secondary,0.8);
    box-shadow: none; // 기본 box-shadow 제거
  }
}

// Required
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/root";
