@charset "utf-8";


@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
    src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
  }

.adn_banner_wrap{font-family:'Nanum Gothic','맑은 고딕','malgun','Malgun Ghothic',"애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo",'돋움','dotum', sans-serif;color:#1b1b1d; width:100%; margin: 30px auto 5px; /*min-width: 786px;*/ position:relative;overflow: hidden; }
.adn_banner_wrap *{font-family:'Nanum Gothic','맑은 고딕','malgun','Malgun Ghothic',"애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo",'돋움','dotum', sans-serif !important;line-height:18px;text-decoration: none; margin:0; padding:0; box-sizing: border-box; outline: 0;}
.adn_recommend_feed_wrap{}
.adn_recommend_feed_wrap img{border:none}/* 210527 추가수정 */
.adn_recommend_feed_wrap .title_wrap{margin:0 0 10px 0; clear: both; text-align: left}
.adn_recommend_feed_wrap ul, .adn_recommend_feed_wrap ol{list-style:none; text-align:center; overflow: hidden; width: 100%;}/* 210527 추가수정 */
.adn_recommend_feed_wrap h3{font-size:21px; font-weight:600; margin:0; display: inline-block; line-height:22px; text-align: left}
.adn_recommend_feed_wrap .title_wrap .top_info_box{margin:0 20px 0 0; display: inline-block;}
.adn_recommend_feed_wrap .tab_category {margin: 0 0 5px 0;padding: 0; display: inline-block; width:90%;}
.adn_recommend_feed_wrap .tab_category li {float: left;text-align:center;cursor: pointer;border: 1px solid #eeeeee; background:#eeeeee; overflow: hidden;position: relative; color:#999999; border-radius: 25px;font-size: 14px;padding:4px 11px 5px; margin: 0 7px 6px 0;}
.adn_recommend_feed_wrap .tab_category li.active{color:#ed4d4d !important;; border:1px solid #ed4d4d; background: #fff;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .tab_category li.active:hover{background: #fff;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .tab_category li:hover{background: #e3e3e3;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .tab_content {padding: 0;font-size: 12px;display: none;}

.adn_recommend_feed_wrap .tab_category_type02 {margin: 0 0 5px 0;padding: 0; display: inline-block; width:90%;}
.adn_recommend_feed_wrap .tab_category_type02 li {float: left;text-align:center;cursor: pointer;border: 1px solid #eeeeee; background:#eeeeee; overflow: hidden;position: relative; color:#999; border-radius: 25px;font-size: 15px;padding:3px 11px 4px; margin: 0 9px 6px 0;}
.adn_recommend_feed_wrap .tab_category_type02 li.active{color:#ed4d4d !important;; border:1px solid #ed4d4d; background: #fff;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .tab_category_type02 li.active:hover{background: #fff;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .tab_category_type02 li:hover{background: #e3e3e3;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .title_wrap .top_info_box .tab_content_type02 {padding: 5px;font-size: 12px;display: none;}


.adn_recommend_feed_wrap .tab_category_type03 {margin: 0 0 5px 0;padding: 0; display: inline-block; width:90%;}
.adn_recommend_feed_wrap .tab_category_type03 li {float: left;text-align:center;cursor: pointer;border: 1px solid #eeeeee; background:#eeeeee; overflow: hidden;position: relative; color:#999; border-radius: 25px;font-size: 15px;padding:3px 11px 4px; margin: 0 9px 6px 0;}
.adn_recommend_feed_wrap .tab_category_type03 li.active{color:#ed4d4d !important;; border:1px solid #ed4d4d; background: #fff;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .tab_category_type03 li.active:hover{background: #fff;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .tab_category_type03 li:hover{background: #e3e3e3;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .title_wrap .top_info_box .tab_content_type03 {padding: 5px;font-size: 12px;display: none;}


.adn_recommend_feed_wrap .title_wrap .top_info_box .paging_number{vertical-align: middle; color:#939393; line-height:23px; margin:0;}
.adn_recommend_feed_wrap .title_wrap .top_info_box .paging_number b{color:#1b1b1d; font-weight: 600}
.adn_recommend_feed_wrap .title_wrap .top_info_box .paging_number b .now_page_num{color:#1b1b1d; font-weight: 600}/*210209 추가 수정*/
.adn_recommend_feed_wrap .title_wrap .top_info_box .adn_nav_box{float: right}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box {float: right}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control{float: right}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button{width:12px; height:20px; display: inline-block; border:none; background-image: url(https://ff.adteip.net/ground/reco_right_off_2011.png); background-size: 12px; background-color: #fff; background-repeat: no-repeat; vertical-align: middle; cursor: pointer; background-position:right; padding:0 0 0 18px}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button:hover{background-image: url(https://ff.adteip.net/ground/reco_right_on_2011.png);}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn{background-image: url(https://ff.adteip.net/ground/reco_left_off_2011.png); background-position: left; padding: 0 18px 0 0;}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn:hover{background-image: url(https://ff.adteip.net/ground/reco_left_on_2011.png);}

.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.slider_left_btn{background-image: url(https://ff.adteip.net/ground/reco_left_off_2011.png); background-position: left; padding: 0 18px 0 0;}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.slider_left_btn:hover{background-image: url(https://ff.adteip.net/ground/reco_left_on_2011.png);}

.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn_type02{background-image: url(https://ff.adteip.net/ground/reco_left_off_2011.png); background-position: left; padding: 0 18px 0 0;}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn_type02:hover{background-image: url(https://ff.adteip.net/ground/reco_left_on_2011.png);}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn_type03{background-image: url(https://ff.adteip.net/ground/reco_left_off_2011.png); background-position: left; padding: 0 18px 0 0;}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn_type03:hover{background-image: url(https://ff.adteip.net/ground/reco_left_on_2011.png);}
.adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control .adn_nav_line{display: inline-block; width:1px; height:22px; background: #afafaf; margin:0 5px; vertical-align: middle;}

.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap{overflow:hidden; display: block; position: relative; width: 100%}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:first-child{padding-left:0; margin-left:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(6){padding-left:0; margin-left:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(11){padding-left:0; margin-left:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(16){padding-left:0; margin-left:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(21){padding-left:0; margin-left:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(26){padding-left:0; margin-left:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(31){padding-left:0; margin-left:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(5n+0){padding-right:0; margin-right:0}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li{display:inline-block; float: left; padding:0; margin:10px 1.25% 0; width:18%; overflow: hidden; border-radius:0; background:#fff;  vertical-align: top; }/*20190624 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a{overflow: hidden;display: block; padding: 0 0 12px 0; margin:0 0 20px 0; position: relative; border-radius: 0; min-height: 260px;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a i{display: block; font-style: normal;color: #1b1b1d;font-size: 13px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:95%;overflow:hidden;text-align:left;margin: 0;}/*20190624 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:hover{}/*20190624 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:hover a .thumb_box{border-radius:0;}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .thumb_box{display: block; margin:0 auto 0; width:100%; border-radius:0; border:1px solid #ebebeb; overflow: hidden}/*210527 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .thumb_box img{max-width: calc(100% + 2px) !important; width: calc(100% + 2px) !important; display: block;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:.3s;-moz-transition:.3s;-ms-transition:.3s;-o-transition:.3s;transition:.3s;}/*210527 추가수정*/
#prdDetail .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .thumb_box img{max-width: calc(100% + 2px) !important; width: calc(100% + 2px) !important; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a:hover .thumb_box{background-size: 110%; background-position: center}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a:hover .thumb_box img{	-webkit-transform:scale(1.15);-moz-transform:scale(1.15);-ms-transform:scale(1.15);-o-transform:scale(1.15);transform:scale(1.15);}/*210527 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .thumb_box b{font-size:16px; font-weight: 600}/*210527 추가수정*/

.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .link_title {text-align:left; display:block; margin:10px 0 0 0;}/*20190624 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .price_box {text-align:left; display: block; color:#1b1b1d; font-size:16px; font-weight:600; margin:8px 0 0 0;}/*210527 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .price_box b{font-size:16px; font-weight: 600}/*210527 추가수정*/
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .price_box em{color:#939393; font-size: 13px;text-decoration: line-through;font-style: inherit; margin:2px 5px 0 0; font-weight: 500; display: block}

.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap button{border:1px solid #c8c8c8; width:23px; height:40px; position: absolute; top:27%; cursor: pointer;background-color:#fff; background-position:center; background-repeat:no-repeat;}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn{left:0; background-image: url("https://ff.adteip.net/ground/reco_left_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn:hover{background-image: url("https://ff.adteip.net/ground/reco_left_on_2011.png") ; background-size: 30px;}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn{right:0; background-image: url("https://ff.adteip.net/ground/reco_right_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn:hover{background-image: url("https://ff.adteip.net/ground/reco_right_on_2011.png") ; background-size: 30px;}

.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_left_btn{left:0; background-image: url("https://ff.adteip.net/ground/reco_left_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_left_btn:hover{background-image: url("https://ff.adteip.net/ground/reco_left_on_2011.png") ; background-size: 30px;}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_right_btn{right:0; background-image: url("https://ff.adteip.net/ground/reco_right_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_right_btn:hover{background-image: url("https://ff.adteip.net/ground/reco_right_on_2011.png") ; background-size: 30px;}



.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type02{left:0; background-image: url("https://ff.adteip.net/ground/reco_left_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type02:hover{background-image: url("https://ff.adteip.net/ground/reco_left_on_2011.png") ; background-size: 30px;}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type02{right:0; background-image: url("https://ff.adteip.net/ground/reco_right_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type02:hover{background-image: url("https://ff.adteip.net/ground/reco_right_on_2011.png") ; background-size: 30px;}

.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type03{left:0; background-image: url("https://ff.adteip.net/ground/reco_left_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type03:hover{background-image: url("https://ff.adteip.net/ground/reco_left_on_2011.png") ; background-size: 30px;}
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type03{right:0; background-image: url("https://ff.adteip.net/ground/reco_right_off_2011.png") ; background-size: 30px; }
.adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type03:hover{background-image: url("https://ff.adteip.net/ground/reco_right_on_2011.png") ; background-size: 30px;}


.paging_number+.tab_category{display: block; width:100%; background: red}
.paging_number+.tab_category_type02{display: block; width:100%; background: red}

.adn_banner_wrap .sale_alarm{position: absolute;background: #ed4d4d;color: #fff;min-width: 44px;height: 44px; text-align:center; line-height: 44px;right: 1px; top: 1px; font-size: 18px; letter-spacing: -0.5px; z-index: 1}/*210527 세일 추가*/
.adn_banner_wrap .sale_alarm small{font-size: 13px;}/*20200901 세일 추가*/

/* type02 */
.banner_img{display:block; width:100%; overflow:hidden; margin:10px 0 20px;}
.banner_img img{display:block; width:100%;}

/* type03 */
.adn_banner_wrap.type03 {}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap{position:relative;}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap .title_wrap .top_info_box .paging_number{position: absolute; text-align: right; margin: 4px 0px 0 -119px; line-height:20px;}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_container .goods_slider_wrap{position: static;}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn{right: 46px; left: inherit; width: 32px; height: 32px; top:-2px;}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn{right: 9px; width: 32px; height: 32px; top:-2px;}

.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_left_btn{right: 46px; left: inherit; width: 32px; height: 32px; top:-2px;}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_right_btn{right: 9px; width: 32px; height: 32px; top:-2px;}

.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type02{right: 46px; left: inherit; width: 32px; height: 32px; top:-2px;}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type02{right: 9px; width: 32px; height: 32px; top:-2px;}

.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type03{right: 46px; left: inherit; width: 32px; height: 32px; top:-2px;}
.adn_banner_wrap.type03 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type03{right: 9px; width: 32px; height: 32px; top:-2px;}

/* type04 */
.adn_banner_wrap.type04 {}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap{width: 48%;float: left;min-width: auto;position:relative;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap:nth-child(3){margin:0 0 0 4%;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap ul, .adn_banner_wrap.type04  .adn_recommend_feed_wrap ol{text-align:center;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li{margin: 0 1% 33px;width: 31.3%;overflow: hidden;text-align: center;float: none;display: inline-block;}/* 210527 추가수정 */
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a{}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .thumb_box{width:100%}

.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_container .goods_slider_wrap{position: static;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .top_info_box .paging_number{font-size: 12px; line-height: 18px;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn{right: 35px; left: inherit; width: 11px; height: 19px; top:0;background-size: 11px;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn{right: 6px; width: 11px; height: 19px; top:0;background-size: 24px;}

.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_left_btn{right: 35px; left: inherit; width: 11px; height: 19px; top:0;background-size: 11px;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .slider_right_btn{right: 6px; width: 11px; height: 19px; top:0;background-size: 24px;}

.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type02{right: 35px; left: inherit; width: 11px; height: 19px; top:0;background-size: 11px;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type02{right: 6px; width: 11px; height: 19px; top:0;background-size: 24px;}

.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .left_btn_type03{right: 35px; left: inherit; width: 11px; height: 19px; top:0;background-size: 11px;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .right_btn_type03{right: 6px; width: 11px; height: 19px; top:0;background-size: 24px;}

.adn_banner_wrap.type04 .sale_alarm{min-width: 42px;height: 42px; text-align:center; line-height: 42px;font-size: 17px; }/*200901 세일 추가*/
.adn_banner_wrap.type04 .sale_alarm small{font-size: 12px;}/*200901 세일 추가*/
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap{margin:0 0 10px 0; overflow: hidden}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap h3{margin:0 0 10px 0;}/*210209 추가 수정*/
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .adn_nav_box {float: right; }
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button{width: 11px; height: 18px; background-size:10px; padding:0 0 0 13px}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn{padding:0 13px 0 0}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.slider_left_btn{padding:0 13px 0 0}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn_type02{padding:0 13px 0 0}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control button.left_btn_type03{padding:0 13px 0 0}

.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .top_info_box{margin: 1px 10px 0 0;}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .title_wrap .adn_nav_box .adn_nav_control .adn_nav_line{height:18px; vertical-align: middle}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .price_box{font-size: 16px; font-weight: 700}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li a .price_box b{font-size: 16px; font-weight: 700}

.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:first-child{padding-left:0; margin-left:0}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(4){padding-left:0; margin-left:0}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(7){padding-left:0; margin-left:0}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(10){padding-left:0; margin-left:0}
.adn_banner_wrap.type04 .adn_recommend_feed_wrap .hash_tab_wrap .hash_tab_container .goods_slider_wrap .goods_list_box li:nth-child(3n+0){padding-right:0; margin-right:0}


/*multi :: 20200129 S */
.adn_recommend_feed_wrap .title_wrap .top_info_box .tab_category_type03 {margin: 0 0 5px 0;padding: 0; display: inline-block; width:90%;}
.adn_recommend_feed_wrap .title_wrap .top_info_box .tab_category_type03 li {float: left;text-align:center;cursor: pointer;border: 1px solid #8f8f8f;overflow: hidden;position: relative; color:#8f8f8f; border-radius: 25px;font-size: 15px;padding:3px 11px 4px; margin: 0 9px 6px 0;}
.adn_recommend_feed_wrap .title_wrap .top_info_box .tab_category_type03 li.active{color:#ed4d4d !important; border:1px solid #ed4d4d;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .title_wrap .top_info_box .tab_category_type03 li:hover{color:#ed4d4d !important; border:1px solid #ed4d4d;}/*200901 세일 추가*/
.adn_recommend_feed_wrap .title_wrap .top_info_box .tab_content_type03 {padding: 5px;font-size: 12px;display: none;}

.adn_event_banner_wrap{box-sizing: border-box; clear: both}
.adn_event_banner_wrap .adn_event{overflow: hidden; margin: 0 0 30px 0;}/*210209 추가 수정*/
.adn_event_banner_wrap .adn_text_box{width: 100%; }
.adn_event_banner_wrap .adn_text_box button{width: 20%;float: left;padding:12px 12px; background: #fff; border:none; border-right:1px solid #ddd; border-bottom:1px solid #ddd; cursor: pointer; height:43px;}/*210218 추가 수정 :: height 추가*/
.adn_event_banner_wrap .adn_text_box button b{color:#999; width: 90%;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-weight: 500;display: block;text-align: left;float: left; font-size:14px;}
.adn_event_banner_wrap .adn_text_box button i{display: inline-block; width:5px; height:10px; float:right; margin:4px 0 0 5px; background-image: url("https://ff.adteip.net/ground/small_right_off_2011.png")}
.adn_event_banner_wrap .adn_text_box button:first-child{border-left:1px solid #ddd}
.adn_event_banner_wrap .adn_text_box button:nth-child(6){border-left:1px solid #ddd}/*210209 추가 수정*/
.adn_event_banner_wrap .adn_text_box button:hover{}
.adn_event_banner_wrap .adn_text_box button:hover b{color:#222; }/*200901 세일 추가*/
.adn_event_banner_wrap .adn_text_box button.active{background: #222222;}
.adn_event_banner_wrap .adn_text_box button.active b{color:#fff; font-weight: bold}
.adn_event_banner_wrap .adn_text_box button.active i{ background-image: url("https://ff.adteip.net/ground/small_right_on_2011.png")}
.adn_event_banner_wrap .adn_text_box button.adn_banner_no_data{background:#eee;}/*210218 추가 수정*/
.adn_event_banner_wrap .adn_text_box button.adn_banner_no_data i{display:none;}/*210218 추가 수정*/

.adn_event_banner_wrap .adn_image_box{overflow: hidden; display: block; width:100%; position: relative; height: 0; padding-bottom: 16.26%;}
.adn_event_banner_wrap .adn_image_box a {}
.adn_event_banner_wrap .adn_image_box a img{display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%; border:none}
/*multi :: 20200129 E */


/*좌우 고정 피드 1단 S*/
.adn_fixed_banner_type01{border:1px solid #d7d7d7; padding:15px; position: fixed; background: #fff; top:320px; left:20px; width: 165px; box-sizing: border-box}/* 210527 추가수정 */
.adn_fixed_banner_type01 *{font-family:'Nanum Gothic','맑은 고딕','malgun','Malgun Ghothic',"애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo",'돋움','dotum', sans-serif; color:#222; font-style: normal; text-decoration: none;  box-sizing: border-box}/* 210527 추가수정 */
.adn_fixed_banner_type01 h3{font-size:14px; font-weight: 700; margin:0 0 10px 0;}
.adn_fixed_banner_type01 .adn_img_box{}
.adn_fixed_banner_type01 i{font-size:13px; text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;width: 100%;overflow: hidden; display: block; margin:0 0 9px 0}
.adn_fixed_banner_type01 .price_box{font-weight: 600; display: block}
.adn_fixed_banner_type01 .price_box b{font-weight: 600}
.adn_fixed_banner_type01 .price_box em{display: block; color:#999; font-size: 13px; text-decoration: line-through; font-weight: 400; margin:2px 0 0 0}

.adn_fixed_banner_type01 .adn_img_box .thumb_box{background-repeat: no-repeat; background-size:cover; display: block; margin: 0 auto 8px; width: 98.5%; border-radius:0; border: 1px solid #ebebeb; position: relative; z-index: 0}
.adn_fixed_banner_type01 .adn_img_box .thumb_box:hover{background-size: 110%; background-position: center}
.adn_fixed_banner_type01 .adn_img_box .thumb_box img{width:100%;}
.adn_fixed_banner_type01 .adn_img_box .thumb_box .sale_alarm{position: absolute;background: #ed4d4d;color: #fff;min-width: 31px;height: 37px; line-height: 37px;right: 0;top: 0; font-size: 14px; padding:0 5px; letter-spacing: -0.5px; z-index: 2}
.adn_fixed_banner_type01 .adn_img_box .thumb_box .sale_alarm small{font-size: 11px; color:#fff;}

.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_paging_number{background-color: rgba(0,0,0,0.7); color:#fff; text-align: center; font-size: 10px; padding:2px 6px 2px; border-radius: 50px; position: absolute; left: 5px; top:5px; right: auto; display: block}

/*210527 추가수정 S*/
.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_th_img{display: block;overflow: hidden;z-index: 1;}
.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_th_img img{width: 100%;display: block;-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);-webkit-transition: .3s;-moz-transition: .3s;-ms-transition: .3s;-o-transition: .3s;transition: .3s; border: none}
.adn_fixed_banner_type01 .adn_img_box .thumb_box:hover .adn_th_img img{-webkit-transform: scale(1.15);-moz-transform: scale(1.15);-ms-transform: scale(1.15);-o-transform: scale(1.15);transform: scale(1.15);}
/*210527 추가수정 E*/

.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav{}

.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .slider_nav{width: 25px;height: 25px;display: inline-block;background-size: 8px;background-color: #fff;background-repeat: no-repeat;vertical-align: middle;cursor: pointer;background-position: center;padding: 0 0 0 18px; z-index: 1; position: absolute; top: 56px; border:1px solid #f2f2f2; }
.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .left_btn{background-image: url(https://ff.adteip.net/ground/reco_left_side_2011.png); left:0 !important; margin:0;}
.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .right_btn{background-image: url(https://ff.adteip.net/ground/reco_right_side_2011.png); right:0}

.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .slider_left_btn{background-image: url(https://ff.adteip.net/ground/reco_left_side_2011.png); left:-1px}
.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .slider_right_btn{background-image: url(https://ff.adteip.net/ground/reco_right_side_2011.png); right:-1px}

.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .left_btn_type02{background-image: url(https://ff.adteip.net/ground/reco_left_side_2011.png); left:-1px}
.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .right_btn_type02{background-image: url(https://ff.adteip.net/ground/reco_right_side_2011.png); right:-1px}

.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .left_btn_type03{background-image: url(https://ff.adteip.net/ground/reco_left_side_2011.png); left:-1px}
.adn_fixed_banner_type01 .adn_img_box .thumb_box .adn_goods_nav .right_btn_type03{background-image: url(https://ff.adteip.net/ground/reco_right_side_2011.png); right:-1px}


.adn_fixed_banner_type01 .adn_paging_number{background-color: rgba(0,0,0,0.7); color:#fff; text-align: center; font-size: 10px; padding:1px 4px 1px; border-radius: 50px; position: absolute; right: auto; left:5px; top:5px; display: block;z-index:9999;}/*210527 추가수정*/

.adn_fixed_banner_type01 .adn_goods_nav{}
.adn_fixed_banner_type01 .adn_goods_nav .slider_nav{width: 29px;height: 29px;display: inline-block;background-size: 8px;background-color: #fff;background-repeat: no-repeat;vertical-align: middle;cursor: pointer;background-position: center;padding: 0 0 0 18px; z-index: 1; position: absolute; top: 54px; border:1px solid #f2f2f2; }
.adn_fixed_banner_type01 .adn_goods_nav .left_btn{background-image: url(https://ff.adteip.net/ground/reco_left_side_2011.png); left:1px}
.adn_fixed_banner_type01 .adn_goods_nav .right_btn{background-image: url(https://ff.adteip.net/ground/reco_right_side_2011.png); right:1px}

.adn_fixed_banner_type01 .adn_goods_nav .slider_left_btn{background-image: url(https://ff.adteip.net/ground/reco_left_side_2011.png); left:-1px}
.adn_fixed_banner_type01 .adn_goods_nav .slider_right_btn{background-image: url(https://ff.adteip.net/ground/reco_right_side_2011.png); right:-1px}


.adn_fixed_banner_type01 .adn_pop_close{border-top: 1px solid #f2f2f2; width:100%; margin:15px 0 0 0;}
.adn_fixed_banner_type01 .adn_pop_close a{display: block; font-size:13px; text-align: center; padding:10px 0 0}
/*좌우 고정 피드 1단 E*/


/*좌우 고정 피드 3단 S*/
.adn_fixed_banner_type02{border:1px solid #d7d7d7; padding:10px; position: fixed; background: #fff; top:100px; right:20px; width: 115px; height: 644px !important; box-sizing: border-box; z-index: 100}
.adn_fixed_banner_type02 *{font-family:'Nanum Gothic','맑은 고딕','malgun','Malgun Ghothic',"애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo",'돋움','dotum', sans-serif; color:#222; font-style: normal; text-decoration: none; box-sizing: border-box}
.adn_fixed_banner_type02 h3{font-size:13px; font-weight: 700; margin:0 0 10px 0; padding:0; line-height: 17px}
.adn_fixed_banner_type02 .adn_img_box{}
.adn_fixed_banner_type02 i{font-size:12px; text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;width: 100%;overflow: hidden; display: block; margin:0 0 6px 0}
.adn_fixed_banner_type02 .price_box{font-weight: 700; display: block; font-size:13px; text-align: left}
.adn_fixed_banner_type02 .price_box b{font-weight: bold}
.adn_fixed_banner_type02 .price_box em{display: block; color:#999; font-size: 12px; text-decoration: line-through; font-weight: 400; margin:1px 0 0 0; text-align: left}

.adn_fixed_banner_type02 .adn_img_box .thumb_box{background-repeat: no-repeat; background-size:cover; display: block; margin: 0 auto 7px; width: 93px !important; height:93px !important; border-radius:0; border: 1px solid #ebebeb; position: relative; z-index: 0; overflow: hidden}
.adn_fixed_banner_type02 .adn_img_box .thumb_box:hover{background-size: 110%; background-position: center}
.adn_fixed_banner_type02 .adn_img_box .thumb_box:after{content: "";display: block;padding-bottom: 100%; overflow: hidden}
.adn_fixed_banner_type02 .adn_img_box .thumb_box img {width: 100%;display: block;}
.adn_fixed_banner_type02 .adn_img_box .thumb_box .sale_alarm{position: absolute;background: #ed4d4d;color: #fff;min-width: 31px;height: 31px; line-height: 31px;right: 0;top: 0; font-size: 12px; letter-spacing: -0.5px; text-align: center}
.adn_fixed_banner_type02 .adn_img_box .thumb_box .sale_alarm small{font-size: 8px; color:#fff;}
.adn_fixed_banner_type02 .adn_img_box .thumb_box .adn_paging_number{background-color: rgba(0,0,0,0.7); color:#fff; text-align: center; font-size: 10px; padding:2px 6px 2px; border-radius: 50px; position: absolute; right: 5px; bottom:5px; display: block}

.adn_fixed_banner_type02 .adn_goods_nav{background: #f2f2f2; border-radius: 50px; font-size:12px; text-align: center; margin:0 auto; width:98px; padding:5px 0; position: absolute;left: 0;right: 0;bottom: 53px;} /*210209 추가 수정*/
.adn_fixed_banner_type02 .adn_goods_nav .slider_nav{width: 28px;height: 15px;display: inline-block; border-radius:30px; border:none; background-size: 5px;background-color: #f2f2f2;background-repeat: no-repeat;vertical-align: middle;cursor: pointer;background-position: center;padding: 0 0 0 18px; z-index: 99999;  font-size:12px; }
.adn_fixed_banner_type02 .adn_goods_nav .left_btn{ background-image: url(https://ff.adteip.net/ground/reco_small_left_2011.png); border-left:none;}
.adn_fixed_banner_type02 .adn_goods_nav .right_btn{right: 0; background-image: url(https://ff.adteip.net/ground/reco_small_right_2011.png); border-right: none}

.adn_fixed_banner_type02 .adn_goods_nav .slider_left_btn{ background-image: url(https://ff.adteip.net/ground/reco_small_left_2011.png); border-left:none;}
.adn_fixed_banner_type02 .adn_goods_nav .slider_right_btn{right: 0; background-image: url(https://ff.adteip.net/ground/reco_small_right_2011.png); border-right: none}


.adn_fixed_banner_type02 .adn_goods_nav .left_btn_type02{ background-image: url(https://ff.adteip.net/ground/reco_small_left_2011.png); border-left:none;}
.adn_fixed_banner_type02 .adn_goods_nav .right_btn_type02{right: 0; background-image: url(https://ff.adteip.net/ground/reco_small_right_2011.png); border-right: none}

.adn_fixed_banner_type02 .adn_goods_nav .left_btn_type03{ background-image: url(https://ff.adteip.net/ground/reco_small_left_2011.png); border-left:none;}
.adn_fixed_banner_type02 .adn_goods_nav .right_btn_type03{right: 0; background-image: url(https://ff.adteip.net/ground/reco_small_right_2011.png); border-right: none}

.adn_fixed_banner_type02 .adn_goods_nav p{display: inline-block; margin:0}

.adn_fixed_banner_type02 .adn_pop_close{border-top: 1px solid #f2f2f2; width: calc(100% - 20px); margin:15px 0 0 0; position: absolute;left: 10px;right: 0;bottom: 0;}/*210209 추가 수정*/
.adn_fixed_banner_type02 .adn_pop_close a{display: block; font-size:13px; text-align: center; padding:10px 0 12px }/*210209 추가 수정 :: padding 수정*/
.adn_fixed_banner_type02 .adn_fixed_list{margin:0 0 15px 0; line-height: 16px;}

.adn_fixed_banner_type02 .adn_company_wrap{position: absolute; display: inline-block;float: right;right: 0; margin:650px 0 10px 80px !important; line-height: 16px; top:0;}
.adn_fixed_banner_type02 .adn_company_wrap .adn_tooltip_box .adn_company_info .adn_info_ico{width:20px; height: 20px; line-height: 20px; font-size:12px;}
.adn_fixed_banner_type02 .adn_company_wrap .adn_sub_txt{right:0; top:24px; width: 140px;}
/*좌우 고정 피드 3단 E*/




/*회사정보 표기 S*/
.adn_company_wrap {position: relative;display: inline-block;margin:0 0 10px 0; float: right}
.adn_company_wrap .adn_sub_txt {visibility: hidden;text-align: left;width: 203px; right: 30px;background-color: #fff;color: #222222;padding: 8px 11px;font-size: 12px;border: 1px solid #d6d6d6;position: absolute;z-index: 1;}
.adn_company_wrap .adn_sub_txt img{display: inline-block; margin:0 3px 0 0; width: 13px; vertical-align: middle}
.adn_company_wrap .adn_sub_txt a{color: #0093dc; display: inline-block; margin:8px 0 0 0}
.adn_company_wrap .adn_sub_txt a:hover{color: #0093dc}
.adn_company_wrap .adn_tooltip_box{padding:0 0 10px 0; height: 30px;}
.adn_company_wrap .adn_tooltip_box:hover .adn_sub_txt {visibility: visible;}
.adn_company_wrap .adn_tooltip_box .adn_company_info {display: block;width: 30px;float: right;}
.adn_company_wrap .adn_tooltip_box .adn_company_info .adn_info_ico {border: 1px solid #d6d6d6; border-radius: 50%; background: #fff; width:25px; height: 25px; text-align: center; line-height: 25px; color:#999999; font-size: 14px; cursor: pointer; float: right}

.adn_banner_wrap.type04 .adn_company_wrap{width: 100%; margin:0 0 20px 0}

/* 서버랑 안맞음 서버에 adn_fixed_banner_type01_wrap 누락되어있음
.adn_fixed_banner_type01_wrap{position: fixed; top:320px; left:20px;}
.adn_fixed_banner_type01_wrap *{font-family:'Nanum Gothic','맑은 고딕','malgun','Malgun Ghothic',"애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo",'돋움','dotum', sans-serif;}
.adn_fixed_banner_type01_wrap .adn_company_wrap{top:5px;}
.adn_fixed_banner_type01_wrap .adn_company_wrap .adn_tooltip_box .adn_company_info{height: 30px;}
.adn_fixed_banner_type01_wrap .adn_company_wrap .adn_tooltip_box .adn_company_info .adn_info_ico{font-size: 12px; width: 20px; height: 20px; line-height: 20px; font-weight: 300}
.adn_fixed_banner_type01_wrap .adn_company_wrap .adn_sub_txt{right: 0; bottom: -74px; width: 173px; font-size: 11px; letter-spacing: -0.1px; line-height: 17px; display: block}
.adn_fixed_banner_type01_wrap .adn_company_wrap .adn_sub_txt a{text-decoration: none}
.adn_fixed_banner_type01_wrap .adn_company_wrap .adn_sub_txt img{margin: -3px 3px 0 0; width: 11px;}

.adn_fixed_banner_type02_wrap{position: fixed; top:100px; right:20px; }
.adn_fixed_banner_type02_wrap *{font-family:'Nanum Gothic','맑은 고딕','malgun','Malgun Ghothic',"애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo",'돋움','dotum', sans-serif;}
.adn_fixed_banner_type02_wrap .adn_company_wrap{top:5px;}
.adn_fixed_banner_type02_wrap .adn_company_wrap .adn_tooltip_box .adn_company_info{height: 30px; bottom: 40px}
.adn_fixed_banner_type02_wrap .adn_company_wrap .adn_tooltip_box .adn_company_info .adn_info_ico{font-size: 12px; width: 20px; height: 20px; line-height: 20px; font-weight: 300}
.adn_fixed_banner_type02_wrap .adn_company_wrap .adn_sub_txt{right: 0; bottom: -74px; width: 173px; font-size: 11px; letter-spacing: -0.1px; line-height: 17px; display: block}
.adn_fixed_banner_type02_wrap .adn_company_wrap .adn_sub_txt a{text-decoration: none}
.adn_fixed_banner_type02_wrap .adn_company_wrap .adn_sub_txt img{margin: -3px 3px 0 0; width: 11px;}
.adn_fixed_banner_type02_wrap .adn_fixed_banner_type02 .adn_goods_nav{bottom: 91px}
.adn_fixed_banner_type02_wrap .adn_fixed_banner_type02 .adn_pop_close{bottom: 41px}
*/

.adn_fixed_banner_type01 .adn_company_wrap {right:0; margin:22px 0 10px 135px !important; position: absolute;display: inline-block;float: right;}/*210527 추가수정*/
.adn_fixed_banner_type01 .adn_company_wrap .adn_sub_txt{width:172px; right: 0; top:26px; font-size: 11px; line-height: 16px; }
.adn_fixed_banner_type01 .adn_company_wrap .adn_tooltip_box .adn_company_info{width: 22px;height: 30px;}
.adn_fixed_banner_type01 .adn_company_wrap .adn_tooltip_box .adn_company_info .adn_info_ico{width: 20px;height: 20px; line-height: 20px; font-size:12px;}
/*회사정보 표기 E*/

.adn_banner_img{display: block;width: 100%;overflow: hidden;margin: 10px 0 20px;}




/* Slider */
#suggestad_wrap_container .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

#suggestad_wrap_container .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin-top:3px;
    margin-left:-10px;
    margin: 0;
    padding: 0;
}
#suggestad_wrap_container .slick-list:focus
{
    outline: none;
}
#suggestad_wrap_container .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

#suggestad_wrap_container .slick-slider .slick-track,
#suggestad_wrap_container .slick-slider .slick-list
{
    width:auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#suggestad_wrap_container .slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
#suggestad_wrap_container .slick-track:before,
#suggestad_wrap_container .slick-track:after
{
    display: table;

    content: '';
}
#suggestad_wrap_container .slick-track:after
{
    clear: both;
}
#suggestad_wrap_container .slick-loading .slick-track
{
    visibility: hidden;
}

#suggestad_wrap_container .slick-slide
{
    display: none;
    float: left;

    margin-left:10px;
    margin-top:3px;
    height: 100%;
    min-height: 100px;
}
[dir='rtl'] #suggestad_wrap_container .slick-slide
{
    float: right;
}
#suggestad_wrap_container .slick-slide img
{
    display: block;
}
#suggestad_wrap_container .slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
#suggestad_wrap_container .slick-initialized .slick-slide
{
    display: block;
}
#suggestad_wrap_container .slick-loading .slick-slide
{
    visibility: hidden;
}
#suggestad_wrap_container .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
#suggestad_wrap_container .slick-arrow.slick-hidden {
    display: none;

}

#suggestad_wrap_container .slick-arrow::before{
    display:none  !important;
}
#suggestad_wrap_container .slick-arrow::after{
    display:none  !important;
}