body#push-alarm-body {
    max-width: 100%;
    margin: 0 auto;
    /* padding-top:4vh;
    padding-bottom:4vh; */
}
body#push-alarm-body.back {
  /* padding-top:0vh;
  padding-bottom:8vh; */
}
#snappush-close.snappush-close {
  position: absolute;
  right: 5px;
  z-index:2;
  display: inline-block;
  height: auto;
  top: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
}

#snappush-alarm-detail {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width:100%;
    /* max-width:560px; */
    /* height:100%; */
    /* background-color:white; */
    margin:0 auto;    
}

#snappush-alarm-detail .snappush-contents {
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
    max-height: 85vh;
    background-color:white;
    -webkit-overflow-scrolling: touch;
    -webkit-transform:translateZ(0);
}

.push-logo {
  position: absolute; bottom: 5px; width: 80px; margin: 0px auto; right: 1px; z-index: 1;
}


/* #snappush-alarm-detail .close-bottom {
  min-height:10px;
} */
/* #snappush-alarm-detail .snappush-footer{
    min-height:15px;
} */

/* @media (min-width: 1281px) {
  #snappush-alarm-detail {width: calc(700px * 0.8) !important;}
  .mobile_preview  #snappush-alarm-detail{width: 100% !important;margin-top: 5px;}
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #snappush-alarm-detail {width: calc(700px * 0.8) !important;}
}

@media (min-width: 691px) and (max-width: 1024px) {
  #snappush-alarm-detail {margin-top: 5px;}
}
*/
@media (min-width: 320px) and (max-width: 559px) {
  /* #snappush-alarm-detail .snappush-contents {  max-height: 89vh;  } */
}

@media (max-width: 320px){
  /* #snappush-alarm-detail .snappush-contents {  max-height: 89vh;  } */
} 

.push-logo img { width: 100%;margin: 0px; }