.push-frame-body-mobile{
    height: 50px !important;
}

.push-frame-body-pc{
width: 100% !important;
    padding-left: 1px !important;
    height: 65px !important;
}
div#snappush-contents {
    height: 65px !important;
    max-height: 65px !important;
}

